/* Add's color to the entire background of the page */
body {
  background-color: rgb(189, 190, 190);
}

/* adds background color to my header and padding */
header {
  background-color: #a0bee0;
  padding: 20px;
}

/* makes my header font size larger, and adds a margin */
h1 {
  font-size: 43px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}
/* displays my list again, in a horizontal way. No bullet points. and adjusts font size */

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

nav li {
  margin-right: 20px;
}

/* changes the color of the fonts within my header when you hover over the words */
nav a:hover {
  color: #ff0101;
}

.photo-link {
display: flex;
justify-content: center;
align-items: center;
}

.photo-grid {
  display: inline-flex;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 10px;
}

/* This code lists the 'contact me' items in a horizontal row, it also adds
circle bullet points*/

#contact-me ul {
  display: flex;
  list-style-type: circle;
  padding: 5;
}

#contact-me li {
  margin-right: 115px;
}

/* This code adds a border to my "Resume" section and hides the text
until you 'hover' over the area */

#resume {
  border: 1px solid #000;
  padding: 20px;
}

#resume-content {
  display: none;
}

#resume:hover #resume-content {
  display: block;
}
