* {
    border: rgb(151, 151, 252);
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(165, 190, 207);
}

section ul {
    margin-left: 5%;
    font-size: 110%;
  }
  
  nav ul {
    margin-left: 5%;
    font-size: 110%;
  }
  
  nav a:hover {
    color: #ff0101;
  }

  h1 {
    font-size: 300%;
  }

  h2 {
    margin: 5% 10%;
    font-size: 175%;
  }
  
  .text {
    margin: 0% 10%;
  }

  .About-Me {
    padding: 2%;
    font-family:'Times New Roman', Times, serif;
  }

  .work {
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
  }

  .contact-me {
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
  }

  .resume {
    padding: 2%;
    font-family: 'Times New Roman', Times, serif;
  }
